.startPad {
   padding-top: 7vh;
}

.formPad {
   padding-top: 10vh;
}

.gamePad {
   padding-top: 5vh;
}

@media (max-width: 1000px) {
}

@media (max-width: 800px) {
}

@media (max-height: 545px) {
   .startPad {
      padding-top: 3vh;
   }

   .formPad {
      padding-top: 3vh;
   }

   .gamePad {
      padding-top: 0vh;
   }
}

.makeKeyboard {
   background: transparent;
   color: transparent;
   border: transparent;
   resize: none;
   width: 99%;
   height: 100%;
   position: absolute;
   transform: translate(-50%, -75%);
   appearance: none;
   white-space: unset;
   outline: none;
}

.makeKeyboard:focus {
   border: transparent;
   border-color: transparent;
   outline: none;
}
