html {
   font-family: "Press Start 2P", sans-serif;
   text-align: center;
   background: linear-gradient(135deg, rgb(182, 141, 248) 25%, transparent 25%) -50px
         0,
      linear-gradient(225deg, rgb(182, 141, 248) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, rgb(182, 141, 248) 25%, transparent 25%),
      linear-gradient(45deg, rgb(182, 141, 248) 25%, transparent 25%);
   background-size: 100px 100px;
   background-color: rgb(200, 180, 255);
   padding: 5vw 0;
   justify-content: center;
   align-items: center;
   max-width: 100vw;
   max-height: 100vw;
}
button {
   font-family: "Press Start 2P", sans-serif;
}
input {
   font-family: "Press Start 2P", sans-serif;
   max-width: 80vw;
}
