.textboxBorder {
   background: white;
   border-radius: 2px;
   border: 1px solid white;
   box-shadow: 0 2px 0 2px rgb(0, 0, 0), inset 0 2px 0 2px black,
      0 0 0 2px black, inset 0 0 0 2px black;
   padding: 20px 20px;
   max-width: fit-content;
   display: flex;
   flex-wrap: wrap;
   justify-content: right;
   margin: auto;
}

.textboxBorder > form > label > input[type="checkbox"] {
   margin: 15px 10px 10px 5px;
   color-scheme: dark;
}

.regions {
   transform: translate(-8px, 0px);
}

.mobileDiv {
   display: inline;
}

.UnmobileDiv {
   display: block;
}

.space {
   text-rendering: unset;
}

@media (max-width: 479px) {
   .mobileDiv {
      display: block;
   }

   .UnmobileDiv {
      display: inline;
      margin: 8px;
   }
}

@media (max-width: 340px) {
   .textboxBorder {
      font-size: smaller;
   }
}

/* @media (max-width: 370px) {
   .textboxBorder {
      font-size: smaller;
   }
   .regions {
      font-size: smaller;
   }
}

@media (max-width: 337px) {
   .textboxBorder {
      font-size: 10%;
   }
}

@media (max-width: 320px) {
   .textboxBorder {
      font-size: 0.07in;
   }
}

@media (max-width: 310px) {
   .textboxBorder {
      font-size: 0.068in;
   }
} */
